/* color scheme:
#0B0A10, #B6287B, #09EEF1, #061C51, #F9C10D;
 */

@font-face {
    font-family: 'urae';
    src:url('urae_nium.ttf');
}

body {
    background-color:#0B0A10;
}

.trainer {
    background-color:white;
    height:350px;
    border-radius:5px;
    overflow: hidden;
    transition: 0.2s;
}

.trainer:hover {
    cursor:pointer;
    border:1px solid #B6287B;
    box-shadow:0px 0px 80px #B6287B;
}

#trainer-sharna {
    background-image:url('sharna.png');
    background-size:300px;
}
