/* color scheme:
#0B0A10, #B6287B, #09EEF1, #061C51, #F9C10D;
 */

@font-face {
    font-family: 'urae';
    src:url('urae_nium.ttf');
}

body {
    background-color:#0B0A10;
}

.trainer {
    background-color:white;
    height:350px;
    border-radius:5px;
    overflow: hidden;
    transition: border 0.2s;
    transition: box-shadow 0.2s; 
    display:flex;
    align-content: center;
    align-items: center;
}

.trainer:hover {
    cursor:pointer;
    border:1px solid #B6287B;
    box-shadow:0px 0px 80px #B6287B;
}

.trainer-name {
    font-family:'urae';
    font-size:100px;
    color:black;
    display:none;
    transition: 0.2s;
    transform: -30px;
}

.trainer:hover .trainer-name {
    display:inline;
    margin:auto;
}

#trainer-sharna {
    background-image:url('sharna.png');
    background-size:300px;
}



.col-sm-6 {
	color: #FF77FF;
    margin-top: 30px;
    margin-left: 266px;
    font-size: 86px;
    font-family: 'urae';
    letter-spacing: 5px;
}

.col-sm-3 img {
	height: 148px;
	transform: rotate(23deg);
   animation: pulse 1s infinite;
   animation-duration: 4s;
  
}

@keyframes pulse {
 0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}





